<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/team">About me</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact me</a></li>
<!--             <li><a href="{{ site.baseurl }}/tutorials">Tutorials</a></li> -->
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
	          <li><a href="https://www.facebook.com/profile.php?id=100010390832943">Add me on Facebook</a></li>
	          <li><a href="{{ site.baseurl }}/links">Useful Resources</a></li>
          </ul>

        </div>
        <p>I am very happy for people to use and further develop my reseach - please give credit to Petro Coding by linking to <a href="https://yangblog.github.io/">my website</a>. I am also very keen to explore possible collaborations, so feel free to get in touch at <b>y.trongnghia@gmail.com</b></p>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
